/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* OUR CODE : */




/* main  */
body {
	 height:100%;
	 width:100%;
	background-color: #f5f8f9;
}

.container {
	background-color: #f5f8f9;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.35;
}

a{
	text-decoration: none;
	color: #44a4ee;
	transition: all 2s ease;
	moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

a:hover{
	text-decoration: underline;
	background-color:#44a4ee;
	color:white;
}



/* Top / menu */

nav{
	overflow: hidden;
	margin-right: 250px;
}


.upper-nav{
	   text-align: right;
	   padding-right: 10px;
	   display: flex;
       justify-content: space-between;
}

.menunbar{
	background-color: #f5f8f9;
	overflow: hidden;
}

li {
    padding-left: 5px;
    padding-right: 5px;
}

.tagline{
	padding: 5px;
	font-size: 125%;
	font-weight: 400;
}

.menu-inline{
	display: inline;
}

.menu-item{
	border-radius: 5px;
	padding: 5px;
    background: #f5f8f9;
    box-shadow: 1px 2px 1px #44a4ee;
}

.header-box{
		margin-top: 20px;
		margin-bottom: 20px;
		display: block; 
		border-radius: 5px;
		color: #6f747d;
		overflow: hidden;
}

.menu{
	 display: flex;
	padding: 5px;
}


#nav-button{
	padding: 5px;
}

.menu-mobile{

}

.wrapList{
	display: flex;
	flex-wrap:wrap;
}






/*STRUCTURE */

button:focus {
	outline:0;
}


.columnProfile{
		 width:18%;
		 display: block;
		 margin-right: 15px;
}

.columnFeed{
	    
	    margin:0; 
	    width:68%; 
	    display: block;
}


.columnAside{
		 width:30%;"
		 display: block;	
} 


.menu-box{
	 	background-color: #ffffff;
		border: 1px solid #e2e8ed;
		margin-top: 10px;
		margin-bottom: 20px;
		display: block; 
		border-radius: 5px;
		padding: 10px;
		padding-top: 15px;
		color: #6f747d;
		overflow: hidden;

		display: flex;
    	justify-content: space-between;
}




.main-box{
		background-color: #ffffff;
		border: 1px solid #e2e8ed;
		margin-top: 3px;
		display: block; 
		border-radius: 5px;
		padding: 5px;
		color: #6f747d;
		overflow: hidden;
}

.status-box{    
	display: flex;
	flex-direction: column;
}

.status-reply{
	display: none;
}

/* MAIN CONTENT */


.follow{
	padding: 5px;
    border: 0px solid #fffff;
    margin: 3px;
    color: #44a4ee;
    border-radius: 5px;
    background: #f5f8f9;
    background: -webkit-linear-gradient(#f5f8f9, #dedfe3);
    background: -o-linear-gradient(#f5f8f9, #dedfe3);  
    background: -moz-linear-gradient(#f5f8f9, #dedfe3); 
    background: linear-gradient(#f5f8f9, #dedfe3); 
}
.follow:hover{
	background: #dedfe3;
    background: -webkit-linear-gradient(#dedfe3, #f5f8f9);
    background: -o-linear-gradient(#dedfe3, #f5f8f9);  
    background: -moz-linear-gradient(#dedfe3, #f5f8f9); 
    background: linear-gradient(#dedfe3, #f5f8f9); 
}
.follow:active{
	background: #f5f8f9;
}


.list{
	width:47%;
	 margin-left: 2px;
    margin-right: 2px;
}


.photo {
	float: left;
	height: 60px;
	padding-right: 10px;
} 


.name{
	font-weight: 400;
}

.statusphoto {
	height: 285px
} 

.usertofollow{
	overflow: hidden;
	margin: 5px;
	padding: 3px;
} 

.btn-follow {
	display: flex;
    justify-content: flex-end;
}

.welcome {
	 position:fixed;
     bottom:0;
     right:0; 
     color:white;
     background-color: #bdc3d2;
     padding: 4px;
     border-radius: 2px;

}

.youtube {
	float: left;
	padding-right: 10px;
} 

.youtube-comment{

}
 
.li-foot{
	margin-top:5px;
	margin-bottom:5px;
}

.link-foot{
	color:white;
}

.toggle-nav {
    display:none;
}

.foot{
	background-image: url("../img/dark-background.jpg");
	margin-top: 50px;
	padding-top: 30px;
    padding-bottom: 30px;
}

.container-foot {
    margin-left: auto;
    margin-right: auto;
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.35;
}


/* sticky smart header: */


/*header {
	top: 0px;
	position: fixed;
	width: 992px;
	background-color: #f5f8f9;
}

.columnContent{
	margin-top: 200px;
}
*/


#mapContainer {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background: grey;
}



/*MEDIA QUERIES : */

@media only screen and (max-width: 768px) {

	.menu, .top-menu {
			display: none; 
	    	
	}
	.nav-show .menu, .nav-show  .top-menu  {
	    display: block;
	}
}

@media only screen and (max-width: 992px) {

	.container {
	    margin-left: 15px;
	    margin-right: 15px;
	}
	.container-foot {
	    margin-left: 15px;
	    margin-right: 15px;
	}
	.columnProfile{
		 width:100%;
	}
	.columnFeed{
		 width:100%; 
	}
	.columnAside{
		width:100%;
	} 
	.welcome{
		position: static;
	}
}

@media only screen and (min-width: 768px) {
	
	#nav-button {
	    display: none; 
	}

	 .bottom-box{
	 	 width: 31%;
	 	 display: inline-block;
	     vertical-align: top;
	     padding: 0px;
	     margin: 0px;
	     margin-top: 3px;
	 }
	     
	.profile-box{
		width: 47%;
		display: inline-block;
		vertical-align: top;
	}
}


@media only screen and (min-width: 992px) {
	.container {
	    width: 992px;
	}
	.container-foot {
	    width: 992px;
	}
	.columnProfile{
		 width:18%;
	}
	.columnFeed{
		 width:68%; 
	}
	.columnAside{
		width:30%;
	} 
	.bottom-box{
		width: 100%;
		display: block;
	}
	.profile-box{
		width: 100%;
		display: block;
	}

	.columnContent{
		display: flex;
		justify-content:space-between;
	}

}
	
#form-post {
	display: block;
}



