/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* our code : */


.container {
	background-color: #f5f8f9;
	width: 992px;
    margin-left: auto;
    margin-right: auto;
    max-width: 992px;
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.35;
}

li {
   display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

a{
	text-decoration: none;
	color: #44a4ee;
}

a:hover{
	transition: all 2s ease-in;
	moz-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
    transition: all 2s ease-in;
	text-decoration: underline;
	background-color:#44a4ee;
	color:white;
}

a:link{
	transition: all 2s ease-in;
	moz-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
    transition: all 2s ease-in;
	text-decoration: underline;
	color:#44a4ee;
	text-decoration: none;
}


nav{
	overflow: hidden;
	margin-right: 250px;
}


.upper-nav{
	   text-align: right;
	   padding-right: 10px;
}

.menunbar{
	background-color: #f5f8f9;
	overflow: hidden;
}


.tagline{
	float: left;
	padding: 5px;
	font-size: 125%;
	font-weight: 400;
}


.menu{
	float: right;
	padding: 5px;
}



.follow{
	float: right;
	padding: 5px;
    border: 0px solid #fffff;
    margin: 3px;
    color: #44a4ee;
    border-radius: 5px;
    background: #f5f8f9;
    background: -webkit-linear-gradient(#f5f8f9, #dedfe3);
    background: -o-linear-gradient(#f5f8f9, #dedfe3);  
    background: -moz-linear-gradient(#f5f8f9, #dedfe3); 
    background: linear-gradient(#f5f8f9, #dedfe3); 
}
.follow:hover{
	background: #dedfe3;
    background: -webkit-linear-gradient(#dedfe3, #f5f8f9);
    background: -o-linear-gradient(#dedfe3, #f5f8f9);  
    background: -moz-linear-gradient(#dedfe3, #f5f8f9); 
    background: linear-gradient(#dedfe3, #f5f8f9); 
}
.follow:active{
	background: #f5f8f9;
}


.menu-item{
	border-radius: 5px;
	padding: 5px;
    background: #f5f8f9;
    box-shadow: 1px 2px 1px #44a4ee;
}




button:focus {
	outline:0;
}


.columnProfile{
		 width:18%;
		 display: block;
		 margin-right: 15px;
}

.columnFeed{
	    
	    margin:0; 
	    width:68%; 
	    display: block;
}


.columnAside{
		 width:30%;"
		 display: block;
		 /*margin-left: 15px;	*/
} 


.menu-box{
	 	background-color: #ffffff;
		border: 1px solid #e2e8ed;
		margin-top: 10px;
		margin-bottom: 20px;
		display: block; 
		border-radius: 5px;
		padding: 10px;
		padding-top: 15px;
		color: #6f747d;
		overflow: hidden;
}


.header-box{
		margin-top: 20px;
		margin-bottom: 20px;
		display: block; 
		border-radius: 5px;
		color: #6f747d;
		overflow: hidden;
}


.main-box{
		 background-color: #ffffff;
		 border: 1px solid #e2e8ed;
		 margin-top: 3px;
		 display: block; 
		border-radius: 5px;
		padding: 5px;
		color: #6f747d;
		 overflow: hidden;
}

.list{
	     
	float:left; 
	width:47%;
	 margin-left: 2px;
    margin-right: 2px;
}


.photo {
	float: left;
	height: 60px;
	padding-right: 10px;
} 


.name{
	font-weight: 400;
}

.statusphoto {
	height: 285px
} 

.usertofollow{
	overflow: hidden;
	margin: 5px;
	padding: 3px;
}

.welcome {
	position:fixed;
     bottom:0;
     right:0; 
     color:white;
     background-color: #bdc3d2;
     padding: 4px;
     border-radius: 2px;

}

.youtube {
	float: left;
	padding-right: 10px;
} 

.youtube-comment{

}
 

